<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="https://www.saucedemo.com/"/>
		<add key="inventorypage_url" value="https://www.saucedemo.com/inventory.html"/>
		<add key="username" value="standard_user"/>
		<add key="password" value="secret_sauce"/>
	</appSettings>
</configuration>